*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body,
html {
  height: 100%;
  font-size: 24px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
  background: #ddd;
  background-image: radial-gradient(circle at 50% 20%, #eef2f3, #8e9eab);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p + p {
  margin-top: 1rem;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: #405cf5;
}


.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.view {
  flex: 1;
}